* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97A87A;
}

.container-box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    font-size: 8vmin;
    background-color: #A8BBA3;
    color: #FCF9EA;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #FCF9EA;
    color: #FFA239; 
}

#new-game {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #FCF9EA;
    color: #FFA239; 
}

#msg {
    color: #FCF9EA;
    font-size: 4vmin;
}

.massage-container {
   height: 100vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   gap: 2rem;
}

#head {
    color: #FFA239;
}

.hide {
    display: none;
}